/* Reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
/* 
1. Tu ngoai vao trong
2. Tu tren xuong duoi
3. Tong quan den chi tiet
*/
/* 
1. Vi tri 
2. Kich thuoc (width height)
3. Mua sac
4. Kieu dang (Kieu chu, tron, vuong ...)
*/
/* Common   */
.text-white {
    color: #fff !important;
}

.text-center {
    
    text-align: center !important;
}
.clear {
    clear: both;
}
.row {
    
    margin-left: -8px;
    margin-right: -8px;
}
/* tao element gia */
.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-third {
    width: 33.333333%;

}
.col-seccond {
    width: 50%;
}

.col-full {
    width: 100%;
}

.mt-8 {
    margin-top: 8px;
}
.mt-16 {
    margin-top: 16px;
}
.mt-32{
    margin-top: 32px;
}
/* #main {

} */

#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* nâng lên trên cao hơn slider */
    z-index: 1;
    /* phần tử con nhảy ra khỏi thẻ cha thì ẩn */
    /* overflow: hidden; */
}
#nav {
    /* đẩy lên thành 1 hàng ngang */
    display: inline-block;

}
/* chỉ áp dụng cho thẻ li là con trực tiếp của nav */
#nav > li{
    display: inline-block;

}

#nav li {
    /*  vị trí tương đối phụ thuộc vào chính nó */
    /* có thể đè lên các đối tượng khác */
    position: relative;

}
/* áp dụng với thẻ a là thẻ con trực tiếp của li là con trực tiếp của nav */
#nav > li > a {
    color: #fff;
    /* viết hoa */
    text-transform: uppercase;


}

#nav li a {
    /* Bỏ gạch chân của link */
    text-decoration: none;
    /* font-size: 100%; */
    /* căn giữa */
    line-height: 46px;
    padding: 0px 24px;
    display: block;
}

#nav li:hover .subnav {
    display:  block;
}

#nav > li:hover > a,
#nav .subnav > li:hover  {
    color: #000;
    background-color: #ccc;

}

#nav .subnav{
    /* ẩn hiện */
    display: none;
    min-width: 160px;
    /* vị trí phụ thuộc vào thằng cha gần nhất có thuộc tính position */
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: #000;
    padding: 0 16px;
    line-height: 38px;
}

#nav, .subnav{
    /* bỏ đánh dấu */
    list-style-type: none;
}

#nav .nav-arrow-down{
    font-size: 12px;
}
#header .mobile-menu-btn:hover {
    background-color: #ccc;
}
#header .mobile-menu-btn {
background-color: #000;
color: #fff;
position: absolute;
top: 0;
right: 0;
}
#header .mobile-menu-btn,
#header .search-btn {
    /* đẩy block sang phải */
    float: right;
    padding: 0 21px;
    line-height: 46px;
}

#header .search-icon {
    color: #ccc;
    line-height: 43px;
    /* padding: 0 21px; */
}
#header .search-btn:hover {

        background-color: #f44336;
        /* đổi dạng con chuột */
        cursor: pointer;
}
/* begin slider */
#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('../img/Slider/BIT-22.jpg') top center / cover no-repeat;

}
#slider .text-content {
    width: 100%;
    text-align: center;
    color: rgba(26,171, 255, 1);
    font-weight: bold;
    position: absolute;
    bottom: 42px;
    text-shadow: 0 0 3px #000;
    
}

#slider .text-heading {
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 500;
}


#slider .text-description {
    font-size: 20px;

}
/* end slider */

/* begin content{

} */
#content .content-section {
    width: 800px;
    max-width: 100%;
    padding: 64px 0;
    /* căn giữa trên dưới */
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}
#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    /* độ dày */
    letter-spacing: 4px;

}

#content .section-sub-heading {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;

}
#content .text-about {
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;
}

#content .members-list {
    margin-top: 32px;
    /* căng ra để ôm hết các phần tử con */
    overflow: hidden;
}


#content .members-name {
    font-size: 15px;
    
}

#content .member-img {
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;
}

/* end content
 */

 /* begin tour
  */
.tour-section {
    background-color: #000;
}

.tickets-list {
    color: #000;
    background-color: #fff;
    margin-top: 40px;
}

.tickets-list li {
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    list-style: none;
}
.tickets-list .soldout {
    color: #fff;
     background-color: #f44336;
     margin-left: 16px;
     padding: 3px 4px;
}

.tickets-list .quality {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    /* bo tròn */
    border-radius: 50%;
    text-align: center;
    /* Mục đích để căn giữa trên dưới */
    line-height: 24px;


}
/* Place */
.place-list {
    color: #000;
    margin-top: 16px;
    /* margin-bottom: 48px; */
    
}


.place-img {
    display: block;
    width: 100%;
}

.place-img:hover {
    /* độ trong suốt */
    opacity: 0.6;
}
.place-body {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-heading {
    font-size: 15px;
    font-weight: 600;
    
}

.place-time {
   margin-top: 15px;
   color: #757575;     

}

.place-desc {
    margin-top: 15px;
    line-height: 1.4;
}

.place-buy-btn {
    color: #fff;
    background-color: #000;
    /* bo gach chan cua link */
    text-decoration: none;
    width: 108px;
    height: 38px;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    
}
.place-buy-btn:hover {

    background-color: #ccc;
    color: #000;
}
/* end tour */

/* begin contact
 */
.contact-content {
    margin-top: 48px;
    line-height: 1.4;
}

.contact-info {
    font-size: 18px;
}
.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}
.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    /* outline cua input */
    /* outline: none; */
}
.contact-form .form-submit {
    background-color: #000;
    color: #fff;
    border: 1px solid #ccc;
    padding: 10px 15px;
    float: right;
}

.contact-form .form-submit:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

/* begin map */
.map-section img {
    width: 100%;
}
/* end map */
/* begin footer */
#footer{
    padding: 64px 16px;
    text-align: center;
}
#footer .info-list {
    font-size: 24px;

}
#footer .info-list a {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}
#footer .info-list a:hover {
    color: rgba(0, 0, 0, 0.4);
}
/* end footer
 */

.modal {
    /* phu thuoc vao cua so trinh duyet */
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
    
}
/* class phu de hien khi click vao buy de chen them vao */
.open {
    display: flex;
}


.modal-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    /* tao hieu ung xuat hien */
    animation: modal_move ease 0.6s;
}


.modal-header {
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.modal-bag {
    margin-right: 16px;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    padding: 16px;
    cursor: pointer;
    opacity: 0.8;
}

.modal-close:hover {
    color: #f44336;
    background-color: #ccc;
    opacity: 1;

}

.modal-body {
    padding: 16px;
    /* position: relative; */
}

.modal-label {
    display: block;
    font: 15px;
    margin-bottom: 12px;
    color: #000;
}

.modal-input {
    border: 1px solid #ccc;
    font-size: 15px;
    width: 100%;
    padding: 11px;
    margin-top: 12px;
    margin-bottom: 24px;
}

.buy-tickets {
    background: #009688;
    width: 100%;
    border: none;
    color: #FFF;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
    
    
}
.buy-tickets:hover {
    background-color: #ccc;
    cursor: pointer;
}

.modal-footer {
    padding: 16px;
    text-align: right;
}

.modal-footer a {
    color: #000;
}

/* tao hieu ung truot */
@keyframes modal_move {
    from {
        transform: translateY(-200px);
    }
    to {
        transform: translateY(0);
    }
}


